.container
{
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.filters
{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
button
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    position: absolute;
    right: 30px;
}
button:hover {
    opacity: 0.9;
}
