.filters
{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    position: absolute;
    right: 30px;
}
button:hover {
    opacity: 0.9;
}
.amenities, .locations {
    display: inline-block;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    position: relative;
}
.amenities {
    border: none;
}
.list {
    list-style-type: none;
}
.h2_hover {
    margin-bottom: 0;
}
.h3_hover {
    font-weight: 600;
    margin-bottom: 0;
}
.h4_hover {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
}
.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    display: block;
}
.dropdown-list {
    display: none;
    padding: 20px;
}
.dropdown-list li {
    list-style-type: none;
}
.locations:hover .dropdown-list {
    display: block;
}
.amenities:hover .dropdown-list {
    display: block;
}
